@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.barra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.barra-izquierda {
  display: flex;
  align-items: center;
}

.barra-izquierda img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.barra-derecha {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}

.barra-derecha a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.barra-derecha a:hover {
  color: #9ecdff;
}

.nombrebarra {
  font-family: 'Geist Mono';
  font-size: 20px;
  transition: color 0.3s;
}

.nombrebarra:hover {
  color: #9ecdff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.container {
  background-color: #F5F8FF;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: -20px;
}

.planescontainer {
  background-color: #F5F8FF;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.option {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.choosething {
  background-color: #ffffff;
  border: 2px solid black;
}


.libreria1 {
  background-color: #3E86F0;
}

.option:hover {
  transform: scale(1.1);
}

.empezarboton {
  background-color: #6ab7ffae;
  margin-top: 520px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.fondobannerinicio {
  background-image: url(./img/banner.jpg);
  height: 610px;
  background-size: cover;
  background-position: center;
  background-size: container;
  justify-content: center;
  display: flex;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  margin-bottom: 20px;
}

.animated-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.dpor {
  font-size: 40px;
  font-family: Arial, 'Times New Roman', Times, serif;
  font-weight: 300;
  background-color: #F5F8FF;
  margin-bottom: -20px;
}

.dporimagen {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  margin-bottom: 20px;
  width: 50%;
}

.dporimagen.visible {
  opacity: 1;
  transform: translateY(0);
}

.contadorcontenido {
  background-color: #F5F8FF;
  border-radius: 20px;
  height: 700px;
}

.contadorinfo {
  width: 350px;
}

.swiper-container {
  width: 600px;
  margin: auto;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: auto;
  margin-left: 8px;
}

.card:hover {
  cursor: grab;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: -50px;
}

#swiper-next {
  right: -1px;
}

.verticaldiv {
  height: auto;
  width: 150px;
  color: white;
}

.opinionesdelacomunidad {
  margin-top: -75px;
  background-color: white;
}

.whatis {
  background-color: #F5F8FF;
  height: 350px;
}

.whatistitle {
  margin-top: 20px;
  margin-bottom: 30px;
}

.whatistext {
  font-family: 'Inter';
  width: 801px;
  font-size: 20px;
  margin-bottom: 50px;
}

.choose {
  background-color: #F5F8FF;
}

.contactofinal {
  color: white;
  margin-left: 25px;
}

.divfinaldepagina {
  background-color: #000000;
  display: flex;
  align-items: left;
}

.chooseit {
  font-size: 30px;
  margin-top: 10px;
}

/* Animación: Crecer desde pequeño a tamaño normal */
@keyframes animaciones-crecer {
  from {
      transform: scale(0.9);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
.animaciones-crecer {
  animation: animaciones-crecer 0.5s ease-out forwards;
}

.planesanimation:hover {
  transform: translateY(-10px, -10px);
}

@media (max-width: 768px) {
  .verticaldiv, .contactofinal {
      display: none;
  }
  .a-by-im {
      width: 1000px;
  }
  .barra-derecha {
      display: none;
  }

}

.a-by-im{
  width: 412px;
}




.search {
  font-size: 20px;
}