    @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

    .barra {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1px;
      background-color: rgba(0, 0, 0, 0.563);
      backdrop-filter: blur(10px);
      color: white;
      z-index: 1000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      flex-wrap: wrap;
    }

    .barra-izquierda {
      display: flex;
      align-items: center;
      margin-top: -4px;
    }

    .barra-izquierda img {
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .barra-derecha {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 15px;
    }

    .barra-derecha a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: color 0.3s;
    }

    .barra-derecha a:hover {
      color: #9ecdff;
    }

    .nombrebarra {
      font-family: 'Geist Mono';
      font-size: 20px;
      transition: color 0.3s;
    }

    .nombrebarra:hover {
      color: #9ecdff;
    }





    .empezarboton {
      background-color: #6ab7ffae;
      margin-top: 520px;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .vertical1div {
      height: auto;
      width: 150px;
      color: white;
    }

    .contactofinal {
      color: white;
      margin-left: 60px;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #FFFFFF;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      overflow-x: hidden;
    }

    .divfinaldepagina {
      background-color: #000000;
      display: flex;
      align-items: left;

    }




    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 800px;
      border-radius: 16px;
      background-image: url('./img/fondo.png');
      background-size: cover;
      background-position: center;
    }

    .screen {
      background: linear-gradient(90deg, #5D54A4, #7C78B8);
      position: relative;
      height: 600px;
      width: 360px;
      box-shadow: 0px 0px 24px #5C5696;
      border-radius: 16px;
    }

    .screen__content {
      z-index: 1;
      position: relative;
      height: 100%;
    }

    .screen__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }

    .screen__background__shape {
      transform: rotate(45deg);
      position: absolute;
    }

    .screen__background__shape1 {
      height: 520px;
      width: 520px;
      background: #FFF;
      top: -50px;
      right: 120px;
      border-radius: 0 72px 0 0;
    }

    .screen__background__shape2 {
      height: 220px;
      width: 220px;
      background: #6C63AC;
      top: -172px;
      right: 0;
      border-radius: 32px;
    }

    .screen__background__shape3 {
      height: 540px;
      width: 190px;
      background: linear-gradient(270deg, #5D54A4, #6A679E);
      top: -24px;
      right: 0;
      border-radius: 32px;
    }

    .screen__background__shape4 {
      height: 400px;
      width: 200px;
      background: #7E7BB9;
      top: 420px;
      right: 50px;
      border-radius: 60px;
    }

    .login {
      width: 320px;
      padding: 30px;
      padding-top: 156px;
    }

    .login__field {
      padding: 20px 0px;
      position: relative;
    }

    .login__icon {
      position: absolute;
      top: 30px;
      color: #7875B5;
    }

    .login__input {
      border: none;
      border-bottom: 2px solid #D1D1D4;
      background: none;
      padding: 10px;
      padding-left: 24px;
      font-weight: 700;
      width: 75%;
      transition: .2s;
    }

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
      outline: none;
      border-bottom-color: #6A679E;
    }

    .login__submit {
      background: #fff;
      font-size: 14px;
      margin-top: 30px;
      padding: 16px 20px;
      border-radius: 26px;
      border: 1px solid #D4D3E8;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      align-items: center;
      width: 100%;
      color: #4C489D;
      box-shadow: 0px 2px 2px #5C5696;
      cursor: pointer;
      transition: .2s;
    }

    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
      border-color: #6A679E;
      outline: none;
    }

    .button__icon {
      font-size: 24px;
      margin-left: auto;
      color: #7875B5;
    }

    .social-login {
      position: absolute;
      height: 140px;
      width: 160px;
      text-align: center;
      bottom: 0px;
      right: 0px;
      color: #fff;
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -30px;

    }

    .social-login__icon {
      padding: 20px 10px;
      color: #fff;
      text-decoration: none;
      text-shadow: 0px 0px 8px #7875B5;
      transition: transform 0.3s ease-in-out;
    }

    .social-login__icon:hover {
      transform: scale(1.2);

    }

    .titletext {
      font-family: 'Raleway', Arial;
      font-size: 35px;
      margin-top: 60px;
      margin-bottom: -80px;
    }

@media (max-width: 768px) {

    .verticaldiv,
    .contactofinal {
      display: none;
    }
  
    .a-by-im {
      width: 1000px;
    }
  
    .divfinaldepagina {
      align-items: center;
    }
  
  
  }
  
  .a-by-im {
    width: 412px;
  }
  
  
  
  .social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: left;
    gap: 1.5rem;
  }

  
  .social-icon {
    color: rgb(156, 163, 175);
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }
  
  .social-icon:hover {
    color: white;
    transform: scale(1.1);
  }
  
  .social-icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }